*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.formContainerStyle{
    display: flex;
    justify-content: space-between;
    width: 25vw;
}

.formContainerStyle dd{
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0.5em;
    width: 50%;
}

.formEditBtn{
    background-color: rgb(32, 2, 100);
    border-radius: 5px;
    padding: 10px 20px;
    color:rgb(255, 255, 255);
    border: 1px solid rgb(32, 2, 100);
    font-weight: 700;
    margin-top: 1.2em;
    cursor:pointer;
}

.formEditBtn:hover{
    background-color: rgb(102,106,152);
    border: 1px solid rgb(102,106,152);
}

.formContainerStyle dt{
    font-size: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 300;
}
