.addNewAddressBtn{
    border: none;
    color: black;
    font-weight: 350;
    background-color:unset;
    font-size: 1em;
}
.addPlusIcon{
    width: 4vw;
}
.addNewAddBtnParentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height:35vh;
    border: 2px dashed gray;
    border-radius: 7px;
    background-color: unset;
    cursor: pointer;
}

.deliveryAddressListContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 2px solid rgba(128, 128, 128, 0.300);
    padding-top: 1em;
    margin-top: 1em;
}

.deliveryAddressList{
    flex-wrap: wrap;
    width: 30%;
    height:35vh;
    border: 2px solid gray;
    border-radius: 7px;
    padding: 1.2em;
    margin-right: 1em;
    margin-top: 1em;
    position: relative;
}

.editIconContainer{
    position: absolute;
    right:25px;
    top:30px;
    display: none;
}

.deliveryAddressList:hover .editIconContainer,.deliveryAddressList:hover .trashIconContainer{
    display:block;
}

.editIcon2{
    display: none;
    position: absolute;
    right: 1px;
}

.editIconContainer:hover .editIcon2{
    display: block;
    cursor: pointer;
}

.editIconContainer:hover .editIcon1{
    display: none;
}

.trashIconContainer{
    position: absolute;
    right:25px;
    top:30px;
    display: none;
}

.trashIconContainer:hover .trashIcon2{
    display: block;
    cursor: pointer;
}

.trashIconContainer:hover .trashIcon1{
    display: none;
}

.trashIcon1{
    display: block;
    position: absolute;
    right: 1px;
    top:40px;
}

.trashIcon2{
    display: none;
    position: absolute;
    right: 1px;
    top:40px;
}

.deliveryAddressList .deliveryClientName{
    font-weight: bold;
}

.paginationContainer{
    display: flex;
    justify-content: center;
    margin: 1em 0px;
}

.inputFieldNameContainer{
    display: flex;
    /* justify-content: space-between; */
    /* width:100%; */
    margin-top: 0.6em;
}
.fNameInputField,.lNameInputField{
    width: 95%;
    outline: unset;
    border: 0.3px solid rgba(0, 0, 0, 0.582);
    padding: 10px 8px;
    border-radius: 7px;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.addressLine1InputField,.addressLine2InputField{
    width: 97.5%;
    outline: unset;
    border: 0.3px solid rgba(0, 0, 0, 0.582);
    padding: 10px 8px;
    border-radius: 7px;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.inputFieldGroupContainer{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    width: 97.5%;
}

.companyInputField,.postalInputField{
    width:90%;
    outline: unset;
    border: 0.3px solid rgba(0, 0, 0, 0.582);
    padding: 10px 8px;
    border-radius: 7px;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.addFormContact_parent{
    display: flex;
    width:20vw;
    border: 0.3px solid rgba(0, 0, 0, 0.582);
    outline: unset;
    border-radius: 7px;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.addFormContact_parent input[type='text']{
    width: 35px;
    font-size: 16px;
    outline: unset;
    border: none;
    text-align: center;
}

.addFormContact_parent input[type="tel"] {
    width: 60%;
    font-size: 16px;
    outline: unset;
    border: none;
}

.addFormCountry-selector {
    width: 55px;
    font-size: 16px;
    position: relative;
}

.addFormCountryDropdown{
    width: 65px;
    padding: 8px;
    font-size: 16px;
    outline: unset;
    border: none;
    border-left: 0.3px solid rgba(0, 0, 0, 0.582);
}

.addFormCountryDropdown~span {
    position: absolute;
    top: 5px;
    left: 10px;
}

.cityInputField,.countryDropdownField{
    width:92%;
    outline: unset;
    border: 0.3px solid rgba(0, 0, 0, 0.582);
    padding: 10px 8px;
    border-radius: 7px;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.stateDropdownField{
    width:100%;
    outline: unset;
    border: 0.3px solid rgba(0, 0, 0, 0.582);
    padding: 10px 8px;
    border-radius: 7px;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.formSaveBtn {
    background-color: rgb(32, 2, 100);
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(32, 2, 100);
    font-weight: 700;
    margin-top: 1.2em;
    cursor: pointer;
}

.formSaveBtn:hover {
    background-color: rgb(102, 106, 152);
    border: 1px solid rgb(102, 106, 152);
}

.formCancelBtn {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(32, 2, 100);
    border: 1px solid rgb(32, 2, 100);
    font-weight: 700;
    margin-top: 1.2em;
    cursor: pointer;
    margin-right: 0.8em;
}

.formCancelBtn:hover {
    background-color: rgb(32, 2, 100);
    border: 1px solid rgb(32, 2, 100);
    color: rgb(255, 255, 255);
}

.delivertAddFormBtnStyle {
    display: flex;
    justify-content: end;
    margin-top: 2em;
}

/* .addressDefaultCheckboxField{
    
} */

.addressDefaultCheckboxField{
    margin-right:0.6em;
}